<div>
  <br>
  <% if @products.blank? %>
  <br>
  <h2 class="search_info_title">没有找到"<%= @query_string %>"的商品信息</h2>
  <% else %>
  <h2 class="search-info-title"> 有关"<%= @query_string %>"的商品信息 </h2>
    <%= render_products_contain %>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @products %>
</div>
